<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../public/css/register.css">
        <link rel="stylesheet" href="../public/css/footer.css">

    </head>
    <body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="d-flex align-items-center"> <!-- Use flexbox to align items vertically -->
            <img src="../public/4472500.png" alt="" width="50px" height="50px" style="margin-right: 10px;">
            <a class="navbar-brand" href="#" style="margin-right: 10px;">Full Stack Development</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-right: 10px;">
                    <a class="nav-link" href="#myquestion">שאלות נפוצות</a>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                    <a class="nav-link" href="#course-structure">מבנה הקורס</a>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                    <a class="btn btn-primary btn-lg" href="#myTabContent">הרשמה לקורס</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

        <section class="bg-light py-5" >
            <div class="container" style="background-image: url(../public/24.jpg); background-repeat: no-repeat; background-size: cover;">
                <div class="row">
                    <div class="col-md-12 text-center">
                       <h1>Full Stack Development <span style="font-size: 30px;">- קורס תוכנה</span></h1>

                        <p class="lead">
                            קורס פיתוח תוכנה של מכללת IITC ומרכז הצעירים העירוני, במימון כמעט מלא של האגף והקרן לחיילים משוחררים, יכין אותך לתפקיד הראשון שלך בחברת הייטק, במקצוע שבו היצע המשרות הפתוחות גדול, וחברות רבות מוכנות להעסיק בו גם חסרי ניסיון.
                        </p>
                        <p class="lead">
                            הקורס כולל למידת המקצוע מהבסיס, פרקטיקה, פרויקטים, הכנה לראיונות עבודה, וכמובן עזרה במציאת עבודה וליווי אישי עד להשתלבות מלאה בתעשייה.
                        </p>
                        <a class="btn btn-primary btn-lg" href="#myTabContent">הרשמה לקורס</a>
                        <br><br>
                    </div>
                    
                </div>
            </div>
        </section>
    
        <section class="bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>קריירה בפיתוח תוכנה</h2>
                        <p class="lead">
                            Full Stack Developer הוא מפתח תוכנה אשר שולט במספר רחב של טכנולוגיות, עד כדי רמה שהוא מסוגל לפתח אפליקציה, מוצר אינטרנטי, מערכת ניהול ואף אתר שלם מקצה לקצה – מצד הלקוח (Front-End) ומצד השרת (Back-End).
                        </p>
                        <p class="lead">
                            בימינו חברות הייטק רבות מגייסות מפתחי פולסטאק, וישנו ביקוש גדול למפתחים מיומנים, לכן זהו תחום מבוקש מאוד. מדובר בתפקיד מאתגר ודורש תכנון, חשיבה לוגית, סבלנות, חשיבה יצירתית ותשוקה לפתרון בעיות, יכולת ללמידה מתמשכת וראייה של התמונה הגדולה.
                        </p>
                        <p class="lead">
                            המפתחים חייבים להיות בעלי יכולות תכנון ופיתוח, עליהם להכיר פלטפורמות שונות, מסדי נתונים ושפות תכנות רלוונטיות.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <img src="../public/26.png" style="width: 100%;" alt="">
            <div class="container register">
            <div class="row">
                    <div class="col-md-3 register-left">
                        
                        <h3>Welcome.</h3>
                        <div class="container-fluid margin"><br><br>
	                             <img src="../public/4472500.png" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-9 register-right">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="FullName" type="text" class="form-control" placeholder="Full Name *" required="required" />
                                        </div>
            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="Email" type="email" class="form-control" placeholder="Email *" required="required" />
                                        </div>
                                        <div class="form-group">
                                            <input id="Phone" type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Phone Number *" required="required" />
                                        </div>
                                        <div class="form-group">
                                        <button type="button" onclick="reg()" class="btnRegister"  value="Register">Register</button>
                                    </div>
                                        <div style="color: crimson;">
                                            <h5 id="namelbl"></h5>   
                                            <h5 id="phonelbl"></h5>   
                                            <h5 id="emaillbl"></h5>   
                                            <h5 id="genrallbl"></h5>  
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <section class="bg-light py-5" >
        <div class="container" style="background-image: url(../public/25.jpg); background-repeat: no-repeat; background-size: cover;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>מבנה הקורס</h2>
                    <p class="lead">
                        הכירו את תוכנית ההכשרה המקיפה ביותר ללימודי פיתוח תוכנה – וכרטיס הכניסה שלכם לעולם ההייטק.
                    </p>
                    <p class="lead">
                        שיטת הלימוד שלנו במתכונת BOOTCAMP וכוללת תהליך מיון, כ- 7 חודשי לימוד אינטנסיביים (5 חודשי למידה וחודשיים עבודה על פרויקטים חיים), מבחנים ופרויקטי הגשה לאורך כל הקורס – כולל התנסות בפרויקטים מול חברות סטארטאפ. הלימודים מתקיימים 5 ימים בשבוע, מתוכם 3 ימי לימוד פרונטליים ו- 2 ימי לימוד מקוונים בנוסף לתרגול עצמי בשעות הערב.
                    </p>
                    <p class="lead">
                        המרצים שלנו מגיעים מתוך התעשייה ומביאים ניסיון, כלים פרקטיים ואתגרים מהחיים. הכיתות שלננו מרווחות ומצוידות, ובכל קורס תמצאו עד 24 תלמידים, כדי לשמור על רמת הלימוד והיחס האישי.
                    </p>
                    <p class="lead">
                        בזכות שיתופי הפעולה הרבים שלנו עם החברות המובילות במשק, שיעור ההשמה שלנו עומד על 80% – בין הגבוהים בתחום ההשמה להייטק. אנו מעניקים לבוגרים שלנו שירותי השמה ללא עלות, ומלווים אותם עד להשתלבות מלאה בעבודה.
                    </p>
                </div>
            </div>
        </div>
        </section>
        <div class="center-wrapper">
            <div class="accordion">


                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(1)">1. Intro basics</div>
                    <div class="accordion-content">
                        <ul>
                        <li>Intro to WEB development fundamentals</li>
                        <li>Basics Operating Systems</li>
                        <li>Communication</li>
                        <li>The Web</li>
                        <li>HTTP Protocol</li>
                        <li>Networks</li>
                        <li>Command-line</li>
                        <li>Web development frameworks</li>
                        <li>MERN</li>
                        <li>Github basics</li>
                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(2)">2. HTML & CSS</div>
                    <div class="accordion-content">
                        <ul>
                        <li>Introduction to HTML</li>
                        <li>Browsers and HTML</li>
                        <li>Editor’s Offline and Online</li>
                        <li>Tags, Attribute and Elements</li>
                        <li>Doctype Element</li>
                        <li>Headings, Paragraphs, and Formatting Text</li>
                        <li>Lists and Links</li>
                        <li>Tables</li>
                        <li>Introduction CSS</li>
                        <li>Applying CSS to HTML</li>
                        <li>Properties</li>
                        <li>selectors</li>
                        <li>specificity</li>
                        <li>Margins, Padding, and Borders</li>
                        <li>box-model, Text and Font Properties</li>
                        <li>Units</li>
                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(3)">3.JavaScript basics</div>
                    <div class="accordion-content">
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>Browsers and HTML</li>
                            <li>Editor’s Offline and Online</li>
                            <li>Tags, Attribute and Elements</li>
                            <li>Doctype Element</li>
                            <li>Headings, Paragraphs, and Formatting Text</li>
                            <li>Lists and Links</li>
                            <li>Tables</li>
                            <li>Introduction CSS</li>
                            <li>Applying CSS to HTML</li>
                            <li>Properties</li>
                            <li>selectors</li>
                            <li>specificity</li>
                            <li>Margins, Padding, and Borders</li>
                            <li>box-model, Text and Font Properties</li>
                            <li>Units</li>
                        </ul>

                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(4)">4.Front End development React & state management</div>
                    <div class="accordion-content">
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>Browsers and HTML</li>
                            <li>Editor’s Offline and Online</li>
                            <li>Tags, Attribute and Elements</li>
                            <li>Doctype Element</li>
                            <li>Headings, Paragraphs, and Formatting Text</li>
                            <li>Lists and Links</li>
                            <li>Tables</li>
                            <li>Introduction CSS</li>
                            <li>Applying CSS to HTML</li>
                            <li>Properties</li>
                            <li>selectors</li>
                            <li>specificity</li>
                            <li>Margins, Padding, and Borders</li>
                            <li>box-model, Text and Font Properties</li>
                            <li>Units</li>
                        </ul>

                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(5)">5.Mid-Project</div>
                    <div class="accordion-content">
                        Working on the midterm project of the course.

                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(6)">6.Backend development using Node.js & Mongo</div>
                    <div class="accordion-content">
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>Browsers and HTML</li>
                            <li>Editor’s Offline and Online</li>
                            <li>Tags, Attribute and Elements</li>
                            <li>Doctype Element</li>
                            <li>Headings, Paragraphs, and Formatting Text</li>
                            <li>Lists and Links</li>
                            <li>Tables</li>
                            <li>Introduction CSS</li>
                            <li>Applying CSS to HTML</li>
                            <li>Properties</li>
                            <li>selectors</li>
                            <li>specificity</li>
                            <li>Margins, Padding, and Borders</li>
                            <li>box-model, Text and Font Properties</li>
                            <li>Units</li>
                        </ul>

                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(7)">7.Python fundamentals</div>
                    <div class="accordion-content">
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>Browsers and HTML</li>
                            <li>Editor’s Offline and Online</li>
                            <li>Tags, Attribute and Elements</li>
                            <li>Doctype Element</li>
                            <li>Headings, Paragraphs, and Formatting Text</li>
                            <li>Lists and Links</li>
                            <li>Tables</li>
                            <li>Introduction CSS</li>
                            <li>Applying CSS to HTML</li>
                            <li>Properties</li>
                            <li>selectors</li>
                            <li>specificity</li>
                            <li>Margins, Padding, and Borders</li>
                            <li>box-model, Text and Font Properties</li>
                            <li>Units</li>
                        </ul>

                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(8)">8.SQL</div>
                    <div class="accordion-content">
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>Browsers and HTML</li>
                            <li>Editor’s Offline and Online</li>
                            <li>Tags, Attribute and Elements</li>
                            <li>Doctype Element</li>
                            <li>Headings, Paragraphs, and Formatting Text</li>
                            <li>Lists and Links</li>
                            <li>Tables</li>
                            <li>Introduction CSS</li>
                            <li>Applying CSS to HTML</li>
                            <li>Properties</li>
                            <li>selectors</li>
                            <li>specificity</li>
                            <li>Margins, Padding, and Borders</li>
                            <li>box-model, Text and Font Properties</li>
                            <li>Units</li>
                        </ul>

                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(9)">9.Web Services</div>
                    <div class="accordion-content">
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>Browsers and HTML</li>
                            <li>Editor’s Offline and Online</li>
                            <li>Tags, Attribute and Elements</li>
                            <li>Doctype Element</li>
                            <li>Headings, Paragraphs, and Formatting Text</li>
                            <li>Lists and Links</li>
                            <li>Tables</li>
                            <li>Introduction CSS</li>
                            <li>Applying CSS to HTML</li>
                            <li>Properties</li>
                            <li>selectors</li>
                            <li>specificity</li>
                            <li>Margins, Padding, and Borders</li>
                            <li>box-model, Text and Font Properties</li>
                            <li>Units</li>
                        </ul>

                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title" onclick="toggleAccordion(10)">10.Git commands + Final project </div>
                    <div class="accordion-content">
                        Working on the final project of the course.
                        <ul>
                            <li>Introduction to HTML</li>
                            <li>Browsers and HTML</li>
                            <li>Editor’s Offline and Online</li>
                            <li>Tags, Attribute and Elements</li>
                            <li>Doctype Element</li>
                            <li>Headings, Paragraphs, and Formatting Text</li>
                            <li>Lists and Links</li>
                            <li>Tables</li>
                            <li>Introduction CSS</li>
                            <li>Applying CSS to HTML</li>
                            <li>Properties</li>
                            <li>selectors</li>
                            <li>specificity</li>
                            <li>Margins, Padding, and Borders</li>
                            <li>box-model, Text and Font Properties</li>
                            <li>Units</li>
                        </ul>

                    </div>
                </div>
                
                
            </div>
        </div>
        <div style="text-align: center;">
            <h1>שאלות נפוצות </h1>
            <h3> כל מה שרציתם לדעת על הקורס  </h3>
            <div class="center-wrapper" id="myquestion">
            
                <div class="faq">
                    <div class="faq-item">
                        <div class="faq-title" onclick="togglefaq(1)"> באיזה תפקידים אפשר לעבוד אחרי הקורס?</div>
                        <div class="faq-content">
                            <p>ניתן לעבוד בחברות סטארטאפ, הייטק, בחברות עם מחלקות טכנולוגיות, כשכירים או כמפתחים עצמאיים. אפשר להיכנס לחברה בדרגת ג'וניור בתפקידים כמו:</p>
                            <ul>
                                <li>Full Stack Developer</li>
                                <li>Front-End Developer</li>
                                <li>Back-End Developer</li>
                                <li>Software Development</li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="faq-item">
                        <div class="faq-title" onclick="togglefaq(2)"> כמה מרוויחים בתחום?</div>
                        <div class="faq-content">
                            <p>בדרך כלל, משכורות התחלתיות למפתחי Full Stack בישראל נעים בין 12-16 אלף ש"ח, עם פוטנציאל למשכורות גבוהות יותר ככל שצוברים ניסיון ומומחיות.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title" onclick="togglefaq(3)"> האם צריך ציוד לקורס?</div>
                        <div class="faq-content">
                            <p>נדרש מחשב נייד במהלך הקורס – חלק מדרישות הקורס הם התחייבות לשעות תרגול מרובות בבית בשעות הערב, כדי שיהיה ניתן לשמור על רצף הלמידה, שמהווה הגורם המרכזי להצלחה בקורס.</p>

                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title" onclick="togglefaq(4)"> מה הם דרישות הקורס?</div>
                        <div class="faq-content">
                            <ul>
                                <li>עמידה בקריטריונים של חיילים משוחררים.</li>
                                <li>בעלי בגרות במתמטיקה ואנגלית.</li>
                                <li>פניות מלאה להשתתפות בקורס לאורך כל היום מהבוקר ועד הערב.</li>
                                <li>בעלי זיקה טכנולוגית ושאיפה להשתלב בתעשיית ההייטק ולהמשיך להתפתח בתחום.</li>
                                <li>בעלי יכולת למידה עצמית גבוהה לאורך כל הקורס – כולל תרגול בשעות הערב.</li>
                                <li>עמידה בהצלחה בשלבי המיון.</li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title" onclick="togglefaq(5)">האם ניתן לעבוד במקביל לקורס?</div>
                        <div class="faq-content">
                            <p>
                                כן ניתן לעבוד במקביל להשתתפות בקורס,  אך נא לשים לב כיוון שמדובר בקורס אינטנסיבי ונדרשת התמסרות מלאה לתהליך יש להקפיד על 80% נוכחות מלאה.
                            </p>
                            
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title" onclick="togglefaq(6)">כמה יעלה לי הקורס?</div>
                        <div class="faq-content">
                            <p>
                                הקורס במימון כמעט מלא ונדרשת השתתפות עצמית בסך 2,000 ש"ח בלבד – אותם ניתן לקחת מכספי הפיקדון. רק כדי לסבר את האוזן, קורס פרטי ללא סבסוד עולה כ- 30,000 ש"ח.
                            </p>
                            
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title" onclick="togglefaq(7)">מה כולל תהליך המיון לקורס?</div>
                        <div class="faq-content">
                            <ul>
                                <li>השארת פרטים כאן באתר. </li>
                                <li>נציג מטעמנו יצור עימך קשר ויישלח לך טופס הגשת מועמדות. </li>
                                <li>השלמת מבחן בית, אשר ישלחו למועמד/ת במייל:
                                    <ul>
                                        <li>מבחן לוגיפס (פסיכוטכני).</li>
                                        <li>
                                        משימת בית מקצועית קצרה – בה תצטרכו ללמוד נושא חדש בתחום ולהכין את המשימה על בסיס מה שלמדתם. כך גם תוכלו לראות אם התחום מדבר אליכם, אנו נספק לכם את חומרי הלימוד הנדרשים.
                                        </li>  

                                    </ul>
                                </li>
                                <li>ראיון אישי.</li>
                            </ul>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"></a>
                <p>החילזון 3, רמת גן (מתחם הבורסה)</p>
                    <p>בניין התאומים - ז'בוטינסקי 33, רמת גן</p>
                    <p>מדיניות פרטיות</p>
                    <p>תנאי שימוש</p>
                    <p>הצהרת נגישות</p>
                    <pclass="rights"></p>שעות פתיחה: 08:00-18:00</p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd>798 South Park Avenue, Jaipur, Raj</dd>
              </dl>
              <dl class="contact-list">
                <dt>email:</dt>
                <dd><a href="mailto:#">zilbermannsimon60@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>phones:</dt>
                <dd><a href="tel:#">077-4123211</a> <span>or</span> <a href="tel:#">0552212590</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
        <script src="../public/js/register.js"></script>
    </body>
</html>